@model StapleViewModel
<style>
    #chartdiv {
        width: 100%;
        height: 500px;
        font-size: 11px;
    }
</style>

@if (Model != null)
{

    @if (Model.WinningBidAvg == 0)
    {
        <p>There is no bids for this month</p>
    }
    else
    {
        <div id="GateChartHolder" style="display: table; width: 100%; height: 400px;"></div>
    }


}


<script>
    var winningBidAvg = @ToDecimalString(Model?.WinningBidAvg ?? 0)
    var estimateAvg = @ToDecimalString(Model?.EstimateAvg ?? 0)
    var difference = @ToDecimalString(Model?.Difference ?? 0)
</script>
<script src="~/js/auctionPartial.js"></script>